@font-face
{
font-family: candara;
src: url('candara.ttf');
}

#home {
	background: url(homeimage/backgroundpenemu.png) repeat;
}

#sangpenemuhome {
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px;
	background: #222222;	
}

#search {
	min-width: 280px;
	min-height: 30px;
	margin: 0 auto; 
}

input.search {
	background: url(search.png) no-repeat 5px 6px;
	font-family: candara;
	font-size: 20px;
	padding: 3px 15px 3px 28px;
	border-radius: 10px;
	border: solid 1px #555;
}

ul.list {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
}

ul.list li {
	border-bottom: 3px solid white;
	font-family: candara;
}

.detail .kepala{
	overflow: hidden;
	padding: 10px 10px 10px 30px;
	background: #F7F7F7;
	border-right: 10px solid #E9E9E9;
	border-left: 10px solid #E9E9E9;
}

.detail .kepala img{
	float: left;
	margin-right: 3px;
}

.detail .kepala h3{
	line-height: 0.8em;
	float: left;
}
.detail .kepala a{
	margin-left: 10px;
	float: right;
}

.detail .keterangan {
	margin-left: 30px;
}
.detail .keterangan p {
	margin-right: 5px;
}
.detail .keterangan p.pendidikan {
	margin-right: 5px;
}
.detail .keterangan p i {
	padding: 5px 5px 5px 15px;
	background: url(panah.png) no-repeat left center;
}

.detail .keterangan p.pendidikan i {
	padding: 5px 5px 5px 20px;
	background: url(pendidikan.png) no-repeat left center;
}